.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.left {
  float: right;
}

.div-style {
  border: 1px solid black;
  width: 50%;
}

.pageChange {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  height: fit-content;
}

.link-style {
  text-decoration: none;
}

.row {
  min-height: 1px;
}

/* .contain {
  height: fit-content;
} */
